<form [formGroup]="lampform" (submit)="onSubmit()">
  <div class="row row-cols-1">

    <div class="d-flex justify-content-between">

      <h1>Add Lamps</h1>
      <mat-icon color="primary">add</mat-icon>
    </div>

    <mat-form-field appearance="outline" class="col">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput placeholder="Quantità da inserire" formControlName="quantity">
    </mat-form-field>

  </div>
  <button mat-flat-button color="primary" class="w-100">invia</button>

</form>
